{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "middleware": "./src/middleware",
        "rest": "./src/rest",
        "graph": "./src/graph",
        "functions": "./src/functions",
        "controllers": "./src/controllers",
        "config": "./src/configs",
        "db": "./db"
      }
    }]
  ]
}
